In [15]:
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency, ttest_ind
import sys
import os
sys.path.append(os.path.abspath('../scripts'))

In [16]:
from AB_Hypothesis_Testing import gender_analysis, Province_vs_TotalPremium_analysis, gender_vs_zip_codes, PostalCode_analysis, calculate_margin

In [17]:
df = pd.read_csv(r"C:\Users\ephre\Documents\AlphaCare-Insurance-Solutions\Data\MachineLearningRating_v3\cleaned_dataset.csv")
df.head()

C:\Users\ephre\AppData\Local\Temp\ipykernel_29920\143477589.py:1: DtypeWarning: Columns (31) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\ephre\Documents\AlphaCare-Insurance-Solutions\Data\MachineLearningRating_v3\cleaned_dataset.csv")

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01 00:00:00,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

In [18]:
t_stat, p_value = gender_analysis(df)

In [19]:
print("T-statistic (Gender):", t_stat)
print("P-value (Gender):", p_value)

T-statistic (Gender): 0.2170914922683923
P-value (Gender): 0.8281458574363545

In [20]:
alpha = 0.05  # significance level
if p_value < alpha:
    print("Reject the null hypothesis: There is a significant difference between the groups.")
else:
    print("Fail to reject the null hypothesis: No significant difference between the groups.")

Fail to reject the null hypothesis: No significant difference between the groups.

In [21]:
Province_t_stat, Province_p_value = Province_vs_TotalPremium_analysis(df)
print("T-statistic (Province):", Province_t_stat)
print("P-value (Province):", Province_p_value)

T-statistic (Province): 0.2170914922683923
P-value (Province): 0.8281458574363545

In [22]:
alpha = 0.05  # significance level
if Province_p_value < alpha:
    print("Reject the null hypothesis: There is a significant difference between the groups.")
else:
    print("Fail to reject the null hypothesis: No significant difference between the groups.")

Fail to reject the null hypothesis: No significant difference between the groups.

In [23]:
zip_codes_t_stat, zip_codes_p_value = gender_vs_zip_codes(df)

In [24]:
print("T-statistic (zip_codes):", zip_codes_t_stat)
print("P-value (zip_codes):", zip_codes_p_value)

T-statistic (zip_codes): 39.36144040594415
P-value (zip_codes): 9.561754217795647e-285

In [25]:
alpha = 0.05  # significance level
if zip_codes_p_value < alpha:
    print("Reject the null hypothesis: There is a significant difference between the groups.")
else:
    print("Fail to reject the null hypothesis: No significant difference between the groups.")

Reject the null hypothesis: There is a significant difference between the groups.

In [26]:
df["ProfitMargin"] = calculate_margin(df)
df_clearned = df.dropna(subset=["ProfitMargin"])
df_clearned.sample(7)

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims,ProfitMargin
522978,148006,13177,2015-06-01 00:00:00,False,,Individual,Mr,English,Standard Bank,Current account,...,Cleaning and Removal of Accident Debris,Cleaning and Removal of Accident Debris,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,4.901842,0.000000,100.0
294721,136273,10591,2015-07-01 00:00:00,False,,Individual,Mr,English,First National Bank,Current account,...,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,21.929825,2289.473684,-10340.0
468534,154755,13379,2015-08-01 00:00:00,False,,Individual,Mr,English,Standard Bank,Current account,...,Cleaning and Removal of Accident Debris,Cleaning and Removal of Accident Debris,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,4.173509,0.000000,100.0
638159,69108,5351,2014-09-01 00:00:00,False,,Private company,Mr,English,First National Bank,Current account,...,Third Party,Third Party,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,305.323333,0.000000,100.0
95457,124450,10540,2015-02-01 00:00:00,False,,Individual,Mr,English,ABSA Bank,Savings account,...,Passenger Liability,Passenger Liability,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,2.352632,0.000000,100.0
505277,141575,8630,2015-07-01 00:00:00,False,,Individual,Mr,English,Standard Bank,Current account,...,Cleaning and Removal of Accident Debris,Cleaning and Removal of Accident Debris,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,7.312105,0.000000,100.0
700836,20069,1087,2015-04-01 00:00:00,False,ZA,Individual,Mr,English,First National Bank,Savings account,...,Passenger Liability,Passenger Liability,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,1.649035,0.000000,100.0

In [27]:
margin_t_stat, margin_p_value = PostalCode_analysis(df_clearned)
print("T-statistic (Gender):", margin_t_stat)
print("P-value (Gender):", margin_p_value)

T-statistic (Gender): nan
P-value (Gender): nan

c:\Users\ephre\Documents\AlphaCare-Insurance-Solutions\scripts\AB_Hypothesis_Testing.py:40: SmallSampleWarning: One or more sample arguments is too small; all returned values will be NaN. See documentation for sample size requirements.
  t_stat, p_value = ttest_ind(male_claims, female_claims, equal_var=False)

In [28]:
alpha = 0.05  # significance level
if margin_p_value < alpha:
    print("Reject the null hypothesis: There is a significant difference between the groups.")
else:
    print("Fail to reject the null hypothesis: No significant difference between the groups.")

Fail to reject the null hypothesis: No significant difference between the groups.